*
{
margin: 0;
padding: 0;
}

.line{
    border-left: 2px solid white;
    height: 28px;
  }

  .navbar-nav{
    margin-right: 20px;
  }

  .nav-item{
      margin-right: 12px;
  }

  .head{
      background-image: url('assets/background.jpg');
      height: 93vh;
      background-size: cover;
      background-position: center;
      position: relative;
      background-repeat: no-repeat;
      background-attachment: fixed;
      filter: brightness(0.3);
  }